In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# connecting with ibm server

In [14]:
%sql ibm_db_sa://zlw44841:88888@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=SSL

DB2/LINUXX8664

In [13]:
%%sql 
select COUNT(*) from CRIME ;

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(533,)]

In [15]:
%%sql
SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM CENSUS WHERE PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [23]:
%%sql
SELECT CASE_NUMBER FROM CRIME WHERE DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('HL266884',), ('HK238408',)]

In [25]:
%%sql
SELECT * FROM CRIME WHERE PRIMARY_TYPE LIKE '%KIDNAPPING'  ;

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [28]:
%%sql 
SELECT UNIQUE(PRIMARY_TYPE ) FROM CRIME WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

In [7]:
%%sql
SELECT "Elementary, Middle, or High School"  as school_type, avg(safety_score) as avg_score 
FROM PUBLIC_SCHOOL GROUP BY "Elementary, Middle, or High School" ;

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

In [21]:
 %%sql
SELECT   COMMUNITY_AREA_NAME FROM CENSUS ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT  5;

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

In [22]:
%%sql
select COMMUNITY_AREA_NUMBER  from CRIME group by COMMUNITY_AREA_NUMBER  order by count(*) desc limit 1;

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(25,)]

In [24]:
%%sql
select COMMUNITY_AREA_NAME, HARDSHIP_INDEX from CENSUS 
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS);

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Riverdale', 98)]

In [20]:
%%sql
SELECT  distinct(COMMUNITY_AREA_NAME)  FROM CENSUS
WHERE COMMUNITY_AREA_NUMBER =(SELECT COMMUNITY_AREA_NUMBER FROM CRIME GROUP BY COMMUNITY_AREA_NUMBER  
                              ORDER BY count(COMMUNITY_AREA_NUMBER) desc limit 1) ;

 * ibm_db_sa://zlw44841:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Austin',)]